<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail info</title>
</head>
<body>
     <div>
            <h2>{{ products.title }}</h2>
            <h3>{{ products.describe }}</h3>
            <h3>{{ products.price }}</h3>

     </div>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <h3>{{ buy.discount }}</h3>
            </tr>
            <tr>
                <h3>{{ buy.count }}</h3>
            </tr>

        </table>
        <input type="submit" value="buy">
    </form>
</body>
</html>